/@PSC/addons/_tools
@PSC/addons/PSC_Vehicles_G/PSC_HMMWV/HMMWV_minigun/PSC_HMMWV_minigun.p3d
@PSC/addons/PSC_Vehicles_G/PSC_HMMWV/HMMWV_grenade_launcher/PSC_HMMWV_grenade_launcher.p3d
@PSC/addons/PSC_Vehicles_G/hmmwv/hmmwv_browning/psc_hmmwv_browning.p3d
@PSC/addons/PSC_Vehicles_G/M115Centaur/data/APC.p3d
@PSC/addons/PSC_Vehicles_G/M115Centaur/M115Centaur.p3d
