class CfgSkeletons
{
    class Service_Rifle_Skeleton
    {
        isDiscrete = 1;
        skeletonInherit = "";
        skeletonBones[] = 
        {
            "bolt", "",
            "magazine", "",
            "camo", "",
            "bolt_axis", "",
            "barrel_start", "",
            "magazine_axis", "",
            "bolt_start", "",
            "bolt_end", "",
            "bolt_axis", ""
        };
    };
};

class CfgModels
{
    class Service_Rifle
    {
        sections[] = 
        {
            "bolt", "magazine", "zasleh" , "bolt_axis" , "camo"
        };
        skeletonName="Service_Rifle_Skeleton";
		sectionsInherit="";
    };
    class Animations
    {
        #include "servicerflerelaod_Bolt.hpp";
    };
};
